* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.mainPage {
  background: url("../../img/bg-image.jpg") 50%/cover no-repeat;
  min-height: 100vh;
}

.mainPage__header {
  padding-top: 25px;
}

.mainPage__nav {
  margin: auto;
  padding: 0px 15px;
  max-width: 583px;
  max-height: 44px;
  line-height: 44px;
  display: flex;
  font-size: 0;
  justify-content: space-between;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
}

.mainPage__nav :visited {
  color: #ffffff;
}

.mainPage__nav :hover {
  text-decoration: underline;
}

.mainPage__content {
  margin-top: 161px;
}

@media (max-width: 991.98px) {
  .mainPage__content {
    margin-top: 100px;
  }
}

@media (max-width: 767.98px) {
  .mainPage__content {
    margin-top: 80px;
  }
}

@media (max-width: 479.98px) {
  .mainPage__content {
    margin-top: 40px;
  }
}

.mainPage__title {
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 4.5px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .mainPage__title {
    font-size: 37px;
  }
}

.mainPage__text {
  margin: 20px auto 0px auto;
  max-width: 470px;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 479.98px) {
  .mainPage__text {
    padding: 0px 10px;
  }
}

.mainPage__footer {
  margin-top: 30vh;
  padding-bottom: 20px;
}

@media (max-width: 991.98px) {
  .mainPage__footer {
    margin-top: 15.5vh;
  }
}

@media (max-width: 767.98px) {
  .mainPage__footer {
    margin-top: 10.5vh;
  }
}

@media (max-width: 479.98px) {
  .mainPage__footer {
    margin-top: 6.5vh;
  }
}

.mainPage__column {
  max-width: 170px;
  margin: auto;
  display: flex;
  font-size: 0;
  justify-content: space-between;
  height: 20px;
  line-height: 20px;
}

.mailPage__btn {
  margin: 30px auto 0 auto;
}

.btn_1 {
  display: block;
  max-width: 184px;
  height: 46px;
  background-color: #00AFDB;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 46px;
}

.footer__icon {
  display: block;
  align-content: center;
  align-self: center;
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.f {
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
}

.f img {
  margin: 3.5px auto auto 5.5px;
}

.y {
  display: block;
  width: 20px;
  height: 20px;
  border: 1.5px solid #ffffff;
  border-radius: 20px;
}

.y img {
  margin: 4.5px auto auto 3.5px;
}

.page_x {
  min-height: 100vh;
  display: flex;
  font-size: 0;
  justify-content: space-around;
  background-color: #FFFFFF;
}

@media (max-width: 767.98px) {
  .page_x {
    flex-direction: column;
  }
}

.page_x__content {
  max-width: 407px;
  margin: 23% auto auto 12%;
}

@media (max-width: 991.98px) {
  .page_x__content {
    margin-top: 15%;
  }
}

.page_x__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
  max-width: 380px;
  margin-bottom: 20px;
}

.page_x__text {
  font-size: 14px;
  line-height: 140%;
  color: #4E4E4E;
  margin-bottom: 30px;
}

.page_x__text span {
  font-weight: bold;
}

.page_x__image {
  margin: 10% 10%;
}

.page_x__image img {
  max-width: 407px;
}

@media (max-width: 1182px) {
  .page_x__image img {
    max-width: 330px;
  }
}

@media (max-width: 991.98px) {
  .page_x__image img {
    max-width: 280px;
  }
}

@media (max-width: 767.98px) {
  .page_x__image img {
    margin: auto;
    max-width: 240px;
  }
}

.community {
  text-align: center;
  background-color: #F5F6F7;
  height: 504px;
}

.community__body {
  margin: 0 auto;
  display: flex;
  font-size: 0;
  justify-content: space-between;
}

.community__content {
  display: flex;
  font-size: 0;
  flex-direction: column;
  margin-top: 155px;
  flex-basis: 49%;
  flex-shrink: 0;
  max-width: 298px;
  margin: 155px auto auto 12%;
}

@media (max-width: 991.98px) {
  .community__content {
    margin-top: 15%;
  }
}

.community__title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.community__text {
  font-size: 14px;
  line-height: 140%;
}

.community__slider {
  margin-top: 82px;
  margin-right: -395px;
  flex-basis: 49%;
  flex-grow: 0;
  flex-shrink: 0;
}

.community__slider__but {
  position: relative;
  margin: 0 auto;
  width: 83px;
  height: 18px;
  margin-bottom: 23px;
}

.community__slider__but__num {
  font-size: 18px;
}

.community__slider__but::before {
  content: '';
  background-image: url(..//..//img/icons/arrow-left.svg);
  width: 10px;
  height: 15px;
  margin: 3px auto auto -40px;
  position: absolute;
}

.community__slider__but::after {
  content: '';
  background-image: url(..//..//img/icons/arrow-right.svg);
  width: 10px;
  height: 15px;
  margin: -15px auto auto 34px;
  position: absolute;
}

.community__slider__picture {
  display: grid;
  grid-template: repeat(1, 244px)/repeat(3, 1fr);
  justify-content: space-between;
  margin: 0 -15px 0 -15px;
}

.community__slider__item {
  position: relative;
  width: 407px;
  height: 244px;
  margin: 0 15px;
}

.community__slider__item img {
  position: absolute;
  left: 0;
}

.page_4_content {
  order: 2;
  margin-left: 4%;
}

.page_4_image {
  order: 1;
  margin-left: 12%;
}

.email__container {
  height: 524px;
  background: url("..//img/pexels-christina-morillo-1181675 1.jpg") 50%/cover no-repeat;
}

.email__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  padding-top: 200px;
  margin-bottom: 30px;
}

.email__form {
  text-align: center;
  display: flex;
  justify-content: center;
}

.email__input input {
  width: 306px;
  height: 46px;
  font-size: 20px;
}

.email__but button {
  width: 66px;
  height: 46px;
  background-color: #00AFDB;
}
