//<МИКСИНЫ>===============================================================================================
@import "_mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

//</Подключаем шрифты>= ======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Roboto";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1170;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_null.scss";
body {
	color: #000;
	font-size: 14px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//@import "forms.scss";
//@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
//popup.scss";
//header.scss";
//footer.scss";
//home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

.mainPage {
	background: url('../img/bg-image.jpg') 50%/cover no-repeat;
	min-height: 100vh;

		&__header {
			padding-top: 25px;
		}
		&__nav {
			margin: auto;
			padding: 0px 15px;
			max-width: 583px;
			max-height: 44px;
			line-height: 44px;
			@include flexbox();
			justify-content: space-between;
			font-size: 14px;
			color: #ffffff;
			cursor: pointer;
			:visited {
				color: #ffffff;
			}
			:hover {
				text-decoration: underline;
			}
		}

		&__content {
			margin-top: 161px;
			@media (max-width: $md2+px) {
				margin-top: 100px;
			}
			@media (max-width: $md3+px) {
				margin-top: 80px;
			}
			@media (max-width: $md4+px) {
				margin-top: 40px;
			}
		}

		&__title {
			font-size: 64px;
			font-weight: bold;
			letter-spacing: 4.5px;
			text-transform: uppercase;
			text-align: center;
			color: #FFFFFF;
			@media (max-width: $md3+px) {
				font-size: 37px;
			}
		}

		&__text {
			margin: 20px auto 0px auto;
			max-width: 470px;
			font-size: 18px;
			line-height: 140%;
			text-align: center;
			color: #FFFFFF;
			@media (max-width: $md4+px) {
				padding: 0px 10px;
			}
		}
		&__footer {
			margin-top: 30vh;
			@media (max-width: $md2+px) {
				margin-top: 15.5vh;
			}
			@media (max-width: $md3+px) {
				margin-top: 10.5vh;
			}
			@media (max-width: $md4+px) {
				margin-top: 6.5vh;
			}
			padding-bottom: 20px;
		}

		&__column {

			max-width: 170px;
			margin: auto;
			@include flexbox();
			justify-content: space-between;
			height: 20px;
			line-height: 20px;

		}
}
.nav {

		&__link {
		}
}
.mailPage {

		&__btn {
			margin: 30px auto 0 auto;
		}
}
.btn {
		&_1 {
			display: block;
			max-width: 184px;
			height: 46px;
			background-color: #00AFDB;
			text-align: center;
			text-transform: uppercase;
			color: #ffffff;
			font-weight: bold;
			font-size: 14px;
			line-height: 46px;
			&:hover {
				background-color: #009CC2;
			}
		}
}
.footer {
		&__icon {
			display: block;
			align-content: center;
			align-self: center;
			width: 20px;
			height: 20px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	.f {
		display: block;
		width: 20px;
		height: 20px;
		border: 1.5px solid #ffffff;
		border-radius: 20px;
		img {
			margin: 3.5px auto auto 5.5px;
		}
	}
	.y {
		display: block;
		width: 20px;
		height: 20px;
		border: 1.5px solid #ffffff;
		border-radius: 20px;
		img {
			margin: 4.5px auto auto 3.5px;
		}
	}
	
//====================================================================================================
//page_2

.page_x {
	min-height: 100vh;
	@include flexbox();
	justify-content: space-around;
	background-color: #FFFFFF;
	@media (max-width: $md3+px) {
		flex-direction: column;
		text-align: center;
	}

	&__content {
		max-width: 407px;
		margin: 23% auto auto 12%;
		@media (max-width: $md3+px) {
			margin-left: auto;
		}
		@media (max-width: $md2+px) {
			margin-top: 15%;
		}

	}

	&__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #373737;
		max-width: 380px;
		margin-bottom: 20px;
	}

	&__text {
		font-size: 14px;
		line-height: 140%;	
		color: #4E4E4E;
		span {
			font-weight: bold;
		}
		margin-bottom: 30px;
	}
	&__btn {
		@media (max-width: $md3+px) {
			margin: 0 auto;
		}
	}

	&__image {
		margin: 10% 10%;
		img {
			max-width: 407px;
			@media (max-width: $md1+px) {
				max-width: 330px;
			}
			@media (max-width: $md2+px) {
				max-width: 280px;
			}
			@media (max-width: $md3+px) {
				margin: auto;
				max-width: 240px;
			}
		}
	}
}
//====================================================================================================
//community

.community {
	text-align: center;
	background-color: #F5F6F7;
	height: 504px; 
	margin-bottom: 40px;

	&__body {
		//max-width: 1062px;
		margin: 0 auto;
		@include flexbox();
		justify-content: space-between;
		@media (max-width: $md3+px) {
			flex-direction: column;
			justify-content: space-between;
			margin-bottom: 400px;
			text-align: center;
			margin: 0 auto;
		}
	}

	&__content {
		@include flexbox();
		flex-direction: column;
		margin-top: 155px;
		flex-basis: 49%;
		flex-shrink:0;
		max-width: 298px;
		margin: 155px auto auto 12%;
		@media (max-width: $md2+px) {
		margin: 15% auto auto auto;
		}
	} 

	&__logo {
		margin-bottom: 20px;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 10px;
	}
	

	&__text {
		font-size: 14px;
		line-height: 140%;
	}

	&__slider {
		margin-top: 82px;
		margin-right: -395px;
		flex-basis: 49%;
		flex-grow: 0;
		flex-shrink: 0;

		&__but {
			display: flex;
			justify-content: space-between;
			margin: auto auto 23px 45%;
			width: 83px;
			height: 18px;
			a {
				margin-top: 3px;
				&:hover {
					opacity: 0.5;
				}
			}
			@media (max-width: $mw+px) {
				margin-left: 30%;
			}
			@media (max-width: $md2+px) {
				margin-left: 12%;
			}
			@media (max-width: $md3+px) {
				margin-left: 43vw;
				
				}
			&__num {
				font-size: 18px;
				letter-spacing: 5px;
			}
		}

		&__picture {
			display: grid;
			grid-template: repeat(1,244px) / repeat(3,1fr);
			justify-content: space-between;
			margin: 0 -15px 0 -15px;

		}
		&__item {
			position: relative;
			width: 407px;
			height: 244px;
			margin: 0 15px;
			img {
				position: absolute;
				left: 0;
			}
		}
	}
}
//<page4>=======================================
.page_4_content {
	order: 2;
	margin-left: 4%;
	@media (max-width: $md3+px) {
		margin: 0 auto;
	}
}
.page_4_image {
	order: 1;
	margin-left: 12%;
	@media (max-width: $md3+px) {
		margin-top: 150px;
	}
}

//<email>=======================================
.email {
	margin-top: 20px;

	&__container {
		height: 524px;
		background: url('../img/pexels-christina-morillo-1181675\ 1.jpg') 50%/cover no-repeat;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 28px;
		text-transform: uppercase;
		text-align: center;
		color: #FFFFFF;
		padding-top: 200px;
		margin-bottom: 30px;
		@media (max-width: $md3+px) {
			padding: 200px 15px 0px 15px;
			}
	}

	&__form {
		text-align: center;
		display: flex;
		justify-content: center;
		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}

	&__input {
		input {
			width: 306px;
			height: 46px;
			font-size: 20px;
			@media (max-width: $md4+px) {
				width: 280px;
			}
		}
	}
	&__but {
		button {  
			position: relative;
			width: 66px;
			height: 46px;
			background-color: #00AFDB;
			&:hover {
				background-color: #009CC2;
			}
			@media (max-width: $md4+px) {
				padding-left: 240px;
				&::before {
					margin-left: -240px;
					margin-top: -6px;
					content: 'Отправить';
					color: #ffffff;
					font-size: 20px;
					position: absolute;
				}
				width: 280px;
			}
		}



	}
}


//<download>=======================================

.download {
	height: 464px;
	background-color: #f5f6f7;

	&__title {
		color: #373737;
		font-size: 24px;
		letter-spacing: 1px;
		font-weight: 700;
		text-align: center;
		line-height: 28px;
		text-transform: uppercase;
		padding-top: 120px;
		margin-bottom: 20px;
	}

	&__text {
		margin: 0 auto;
		max-width: 480px;
		text-align: center;
		color: #4e4e4e;
		font-size: 14px;
		margin-bottom: 30px;
	}

	&__but {
		display: flex;
		justify-content: center;
		margin: auto -23px;
		@media (max-width: $md4+px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__apple {
		margin: auto 23px;
		@media (max-width: $md4+px) {
			margin-bottom: 15px;
		}
	}

	&__google {
		margin: auto 23px;
	}
}
.container {
}
.btn {

	&_2 {
		display: flex;
		p {
			width: 127px;
			height: 46px;
			background-color: #00AFDB;
			text-align: center;
			text-transform: uppercase;
			font-weight: 700;
			line-height: 46px;
			color: #ffffff;
			&:hover {
				background-color: #009CC2;
			}
		}
		img {
			width: 59px;
			height: 46px;
			padding: 12px 20px;
			background-color: #009CC2;
		}
	}
}


//<footer>=======================================

.footer {
	height: 185px;
	background-color: #000000;

	&__items {
		padding-top: 60px;
		display: flex;
		justify-content: space-between;
		@media (max-width: $md3+px) {
			display: block;
			//flex-direction: column;
			//align-items: center;
			text-align: center;
		}
	
	}

	&__links {
		display: flex;
		flex-basis: 33.333%;
		flex-grow:0;
		position: relative;

	}
	&__links::before {
		content: '';
		position: absolute;
		width: 1px;
		height: 8px;
		background-color: #4E4E4E;
		left: 62px;
		top: 20px;
		@media (max-width: $md3+px) {
			top: 0;
			left: 28.8vw;
			margin-top: -5px;
		}
	}
	&__links::after {
		content: '';
		position: absolute;
		width: 1px;
		height: 8px;
		background-color: #4E4E4E;
		left: 147px;
		top: 20px;
		@media (max-width: $md3+px) {
			top: 0px;
			left: 59.4vw;
			margin-top: -5px;
		}
	}

	&__link {
		color: #FFFFFF;
		line-height: 44px;
		margin-right: 40px;
		@media (max-width: $md3+px) {
			align-items: center;
			text-align: center;
			margin: -25px auto 15px auto;
		}
		&:hover {
			color: green;
			text-decoration: underline;
		}
	}
	&__logo {
		flex-basis: 33.333%;
		flex-grow:0;
		img {
			display: block;
			margin: 0 auto;
		}
	}
	&__license {
		color: #818181;
		line-height: 44px;
		flex-basis: 33.333%;
		flex-grow:0;
		text-align: right;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
}


//</ОСНОВНОЙ БЛОК>================================================================================================